.messagebox{
	background-color: #D9F7F7;
	border-radius:5px;
	min-height:50px;
	height: auto;
	overflow: hidden;
}

.boxText{
	background-color:#FFFFFF;
	padding-top:10px;
	border-radius:5px;
	height: auto;
	overflow: hidden;
	font-size:10px;
}

.nameText{
	font-size:20px;
};

.aaa{
	position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto; 
	width: auto;
}

.temp>img{
	width:47%;
	margin:4px;
}


